@charset "utf-8";
/* CSS Document */

h2.view-header{
	margin-top: 3vh;
}

#tile-container {
  height: 34vh;
  width: 64vw;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
}

a.database-link{
	color: white;
}

div.mcp-link{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 15vh;
	line-height: 15vh;
	vertical-align: bottom;
}
a.mcp-link:link{
	font-family: 'lato';
	font-size: 1.5rem;
}

.db-nav{
	padding: 0;
	top: auto;
}

.db-nav ul li a{
	font-size: 1.2rem;
}

.db-nav ul li a{
	line-height: normal;
	padding-top: 0;
}

.db-tile {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  float: left;
  background-color: #a91c9e;
  height: 34vh;
  width: 20vw;
  color: white;
  vertical-align: middle;
}

.db-tile-large{
	width: 31vw;
}

.db-tile:hover {
  background-color: #8c1883;
}

.db-tile-title {
  text-transform: uppercase;
  font-size: 2.5em;
}

.db-tile-inner {
  margin-top: 5.5vh;
  margin-left: 3%;
  margin-right: 3%;
}

.col {
  width: 18vw;
  float: left;
}

#col2,
#col3 {
  margin-left: 2vw;
}

#col3 {
  clear: right;
}

#fields{
  float: left;
}

input[type="radio"], input[type="checkbox"]{
	width: auto;
	margin-right: 3px;
}

label{
	display: inline;
}

textarea#description{
	width: 65vw;
	height: 10vh;
	font-family: Amble, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea#css{
	width: 65vw;
	height: 30vh;
	font-family: "Courier New", Courier, monospace;
}

#popup-users{
	background-color: #a91c9e;
	width: 50vw;
	height: 50vh;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;	
	padding: 2vh 2vw;
}

#popup-users h2{
	color: white;
}

#popup-wrapper{
	height: 40vh;
	width: 45vw;
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
}

#popup-inner{
	background-color: white;
	width: 100%;
	margin: 0;
}

div.code{
	font-size: 12px;
	height: 45vh;
	overflow: auto;
}

img.img-edit{
	height: 15px;
	width: 15px;
}

table.manage-table{
	width: 100%;
	margin: 1vh 0 0 0;
}

tr.style:hover{
	cursor: pointer;
}

td.med-col{
	width: 20%;
}

td.small-col{
	width: 15%;
}

#request,
#view
{
  margin-left: 2vw;
}

#development{
	float: right;
}

.manage-item{
	width: 90%;
	margin-bottom: 1vh;
	margin-left: auto;
	margin-right: auto;
}

.manage-header{
	background-color: #a91c9e;
	background-image: url('../../images/down-arrow.png');
	background-repeat: no-repeat;
	background-size: 1.5vh;
	background-origin: content-box;
	background-position: center left;
	height: 2.5vh;
	line-height: 2.5vh;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	padding: .5vh .5vw;
	border-bottom: 3px #d553cb solid;
}

.manage-header:hover{
	cursor: pointer;
}

.manage-header h4{
	color: white;
	margin-left: 2vw;
}