@charset "UTF-8";
/* CSS Document */
#announcements marquee{
  display: inline-block;
}
#announcements h3{
  text-align: center;
}
#discuss-announcements{
	display: inline-block;
}
#fora{
	width: 81vw;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
}
.discuss-fora{
  width: 18vw;
  height: 18vw;
  overflow: hidden;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: #509aff;
  display: inline-block;
  vertical-align: top;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease;
	float: left;
	margin-left: 1vw;
	margin-right: 1vw;
}
.discuss-fora:hover{
  background-color: #1b63c6;
  background-size: 150% 150%;
  transition: all 500ms ease;
}
.discuss-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 1.5vw solid transparent;
	border-right: 1.5vw solid transparent;
	border-bottom: 1.5vw solid black;
	margin-top: 14.5vw;
	margin-left: auto;
	margin-right: auto;
	transition: all 500ms ease;
}
.discuss-fora-text{
	font-family: 'lato';
  vertical-align: bottom;
  height: 11vw;
  background-color: #212121;
  color: #FFFFFF;
  overflow: hidden;
  overflow-y: auto;
  transition: all 500ms ease;
	border-top: .5vw solid black;;
}
.discuss-fora-text-inner{
	height: 9.5vw;
	margin-top: 1.5vw;
	width: 16.6vw;
	margin-left: auto;
	margin-right: auto;
}
.discuss-fora:hover > .discuss-arrow-up{
  margin-top: 5.5vw;
  transition: all 500ms ease;
}
#discuss-round-left{
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  background-color: #FFFFFF;
  color: #000000;
  transition: all 500ms ease;
}
#discuss-round-left:hover{
  background-color: #000000;
  color: #FFFFFF;
  transition: all 500ms ease;
}
#discuss-round-right{
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  color: #000000;
  transition: all 500ms ease;
	float: right;
}
#discuss-round-right:hover{
  background-color: #000000;
  color: #FFFFFF;
  transition: all 500ms ease;
}