@charset "UTF-8";
/* Discuss CSS */

/*--KEYFRAMES--*/

@-webkit-keyframes targetPost {
  from {
    background-color: #f8f8b1;
  } to {
    background-color: initial;
  }
}

@keyframes targetPost {
  from {
    background-color: #f8f8b1;
  } to {
    background-color: initial;
  }
}


/*--NAVIGATION--*/
#navigation {
  position: absolute;
  right: 0;
  width: 40vw;
  height: auto;
}

.discuss-nav {
  padding: 0;
  position: absolute;
  height: auto;
}

.discuss-nav ul li a {
  font-size: 1.2rem;
  line-height: normal;
  padding-top: 0;
}


/*--NOTIFICATIONS--*/
#notifications {
  top: 19vh;
  right: 5vw;
  width: 30vw;
}

/**
 * Messages
 */

.msg + * {
  margin-top: 0;
}


/*--ANNOUNCEMENTS--*/
#announcements h3 { text-align: center; }

#discuss-announcements {
  position: absolute;
  top: 2.3em;
  left: 5%;
  width: 90%;
  text-align: center;
}

.discuss-announcement {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.discuss-round {
  position: relative;
  height: 1.6em;
  width: 1.6em;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  color: black;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.discuss-round:hover {
  color: white;
  border-color: #0a8efe;
}

/* the next arrow, aka the one that faces right */
.discuss-round ~ .discuss-round { float: right; }

.discuss-round span {
  position: absolute;
  top: 50%;
  left: 42%; /* 42% to hide behind arrows for increased visual effect */
  height: 0;
  width: 0;
  background: #0a8efe;
  z-index: -1;
  border: 0;
}

.discuss-round:hover span {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.discuss-round span::before, .discuss-round span::after { content: none; }

.discuss-round::before,
.discuss-round::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 40%;
  width: 15%;
  height: 27%;
  background: black;
  -webkit-transform: skew(-25deg);
  transform: skew(-25deg);
}

.discuss-round::after {
  top: 50%;
  -webkit-transform: skew(25deg);
  transform: skew(25deg);
}

/* lazy hack to flip the next arrow */
.discuss-round ~ .discuss-round {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.discuss-round:hover::before,
.discuss-round:hover::after {
  background: white;
  top: 26%; /* counteract perception that arrow moved up by moving it 1% down */
}

.discuss-round:hover::after { top: 51%; /* same */ }


/*--DISCUSS INDEX--*/
#fora {
  position: absolute;
  left: 20vw;
  width: 80vw;
  margin-top: 3vh;
}

.discuss-fora {
  width: 18vw;
  height: 18vw;
  overflow: hidden;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: #509aff;
  display: inline-block;
  vertical-align: top;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  margin: 0 1vw;
}

.discuss-fora:hover {
  background-color: #1b63c6;
  background-size: 150% 150%;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.discuss-arrow-up {
  width: 0;
  height: 0;
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  border-bottom: 1.5vw solid black;
  margin: 14.5vw auto 0;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.discuss-fora:hover > .discuss-arrow-up {
  margin-top: 5.1vw;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.discuss-fora-text {
  font-family: 'lato';
  vertical-align: bottom;
  height: 11vw;
  background-color: #212121;
  color: #FFFFFF;
  overflow: hidden;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  border-top: .5vw solid black;
}

.discuss-fora:hover > .discuss-fora-text { overflow-y: auto; }

.discuss-fora-text-inner {
  height: 9.5vw;
  width: 16.6vw;
  margin-top: 1.5vw;
  margin-left: auto;
  margin-right: auto;
}

.unread-forum { background-color: #b00; }
.unread-forum:hover { background-color: #900; }

/*--FORUMS--*/
table.discuss-table {
  width: 90%;
  margin: 1vh auto 0 auto;
}

tr.style:hover { cursor: pointer; }

td.med-col { width: 20%; }
td.small-col { width: 15%; }
td.tiny-col { width: 3%; }

.topic-icon {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px black solid;
}

.read-icon { background-color: #1b63c6; }
.unread-icon { background-color: #a82325; }

/*--TOPICS--*/
#topic-main {
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  padding: 1em 1em;
}

#discuss-topic-header {
  color: #000000;
  margin-bottom: 1em;
}

.topic-reply-panel {
  padding: 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 0.5em;
  overflow: hidden;
  margin-left: 1em;
  margin-bottom: -0.5em;
}

.topic-reply-panel>div {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
  cursor: pointer;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #000000;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-right: 1px solid #000000;
}

.topic-reply-panel>div:last-child {
  border-right: 0px solid #000000;
}

.topic-reply-panel>div:hover{
  background-color: #509aff;
  color: #FFFFFF;
  min-width: 160px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.topic-reply-disabled{
  background-color: #d8d8d8 !important;
  color: #000000 !important;
  opacity: 0.6 !important;
}
.topic-reply-disabled:hover{
  background-color: #bababa !important;
  opacity: 0.8 !important;
}

.topic-reply-thanked {
  background-color: #51b835 !important;
  color: #FFFFFF !important;
}

.topic-reply {
  position: relative;
  border: 1px solid black;

  border-radius: 0;
  margin-left: 2em;
  border-left: none;
  border-top: 0 solid white;
}

.topic-reply::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: calc(100% + 1px);
  width: 5px;
  background: #3589fb;
}

.topic-reply-top { padding: 1em 1em; }

.topic-reply-text > *:not(.topic-reply-top) {
  padding: 0 1.5em;
  padding-bottom: 1em;
}

.avatar {
  float: right;
  border-radius: 10%;
}

.topic-text > pre[class*="language-"] {
  width: 90%;
  padding: 1em;
  margin: 0.5em auto;
}

.topic-text > pre,
.topic-text > p code {
  background-color: #272822;
  color: #f8f8f2;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  width: 90%;
  padding: 1em !important;
  margin: 0.5em auto;
  border-radius: 0.3em;
}

.topic-text > p code {
  width: auto;
  padding: 0.2em 0.2em 0.1em !important;
  margin: 0;
}

.topic-reply:target,
.topic-reply-text:target {
  -webkit-animation: targetPost 2.3s linear;
  animation: targetPost 2.3s linear;
}

/*--POSTING--*/
[type="text"],
textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

.split {
  width: 50%;
  padding-right: 0.2em;
  box-sizing: border-box;
}
.split.right {
  position: absolute;
  top: 1.6em;
  bottom: 0.3em;
  right: 0;
  padding-right: 0;
  padding-left: 0.2em;
}

[name='preview'] {
  height: 100%;
  width: 100%;
  padding: 0.3em;
  border: 1px solid #222;
  border-radius: 0.18rem;
  overflow: auto;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  display: inline-block;
}

#cancel, .cancel-edit { float: left; }
#post, .post-edit { float: right; }

.note { left: auto; right: -0.5rem; }
