@charset "UTF-8";
/* CSS Document */
#announcements marquee{
  display: inline-block;
}
#announcements h3{
  text-align: center;
}
#discuss-announcements{
  display: inline-block;
  vertical-align: top;
}
#fora{
  width: 81vw;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}
.discuss-fora{
  width: 18vw;
  height: 18vw;
  overflow: hidden;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: #509aff;
  display: inline-block;
  vertical-align: top;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  float: left;
  margin-left: 1vw;
  margin-right: 1vw;
}
.discuss-fora:hover{
  background-color: #1b63c6;
  background-size: 150% 150%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.discuss-arrow-up {
  width: 0; 
  height: 0; 
  border-left: 1.5vw solid transparent; 
  border-right: 1.5vw solid transparent;
  border-bottom: 1.5vw solid black;
  margin-top: 14.5vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.discuss-fora-text{
  font-family: 'lato';
  vertical-align: bottom;
  height: 11vw;
  background-color: #212121;
  color: #FFFFFF;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-top: .5vw solid black;
}
.discuss-fora:hover > .discuss-fora-text {
  overflow-y: auto;
}
.discuss-fora-text-inner{
  height: 9.5vw;
  width: 16.6vw;
  margin-top: 1.5vw;
  margin-left: auto;
  margin-right: auto;
}
.discuss-fora:hover > .discuss-arrow-up{
  margin-top: 5vw;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}
.discuss-round {
  position: relative;
  height: 31px;
  width: 31px;
  text-align: center;
  line-height: 31px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  color: black;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.discuss-round:hover{
  color: white;
  border-color: #0a8efe;
}
/* the next arrow, aka the one that faces right */
.discuss-round ~ .discuss-round {
  float: right;
}

.discuss-round span {
  position: absolute;
  top: 50%;
  left: 43%; /* 43% to hide behind arrows for increased visual effect */
  height: 0;
  width: 0;
  background: #0a8efe;
  z-index: -1;
  border: 0;
}
.discuss-round:hover span {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.discuss-round span::before,
.discuss-round span::after {
  content: none;
}
.discuss-round::before,
.discuss-round::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 39%;
  width: 15%;
  height: 27%;
  background: black;
  -webkit-transform: skew(-25deg);
  transform: skew(-25deg);
}
.discuss-round::after {
  top: 50%;
  -webkit-transform: skew(25deg);
  transform: skew(25deg);
}
/* lazy hack to flip the next arrow */
.discuss-round ~ .discuss-round {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.discuss-round:hover::before,
.discuss-round:hover::after {
  background: white;
  top: 26%; /* counteract perception that arrow moved up by moving it 1% down */
}
.discuss-round:hover::after {
  top: 51%; /* same */
}

table.manage-table{
  width: 100%;
  margin: 1vh 0 0 0;
}

tr.style:hover{
  cursor: pointer;
}

td.med-col{
  width: 20%;
}

td.small-col{
  width: 15%;
}
.topic-reply-thanks{
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #000000;
  overflow: hidden;
  transition: all 500ms ease;
}
.topic-reply-thanks:hover{
  background-color: #51b835;
  color: #FFFFFF;
  width: 150px;
  transition: all 500ms ease;
}
.topic-reply-thanked{
  background-color: #51b835;
  color: #FFFFFF;
}
.topic-reply-thanked:hover{
  background-color: #51b835;
  color: #FFFFFF;
}
#topic-main{
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  padding: 1em 1em;
}
#discuss-topic-header{
  height: 6rem;
  color: #000000;
  line-height: 2em;
  vertical-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 1.5em;
  margin-bottom: 1em;
  border: 2px solid black;
  background-position: center;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.topic-reply{
  border: 1px solid black;
  border-radius: 0px;
  margin-left: 2em; 
  border-left: 5px solid #0000FF;
  border-top: 0px solid white;
}
.topic-reply-top{
  background-color: #000000;
  color: #FFFFFF;
}