body { overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-weight: 400;
  padding-bottom: 0.2em;
}

.linkbutton {
  color: #48a730;
  border-color: #5dc350;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0.25em 0.4em 0.2em;
  font-size: 1.5em;
  margin-top: 7vh;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.linkbutton:hover {
  background-color: #41962c;
  border-color: #40902a;
  color: #ccc;
}

.heading {
  font-size: 3em;
  margin: 0.2em;
  text-align: left;
}

.tile {
  height: 20vh;
  width: 46%;
  padding: 2%;
}

.tile:first-child {
  float: left;
  border-right: 1px solid #bbb;
  margin-right: -1px;
}

.tile:last-child { float: right; }

.index-row:first-of-type .tile { border-bottom: 1px solid #bbb; }

#headerwrap a { cursor: pointer; }

#themizer-bar {
  background: #212121;
  height: 50vh;
  box-shadow: inset 0 0 1em 0 #222;
  color: white;
  margin: .5em auto;
  width: 102vw;
  position: relative;
  left: -12.5%;
  padding: 2em;
  font-family: 'Lato Hairline', 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-weight: 100; /* epiphany aka safari for linux doesn't do it right without this */
}

#themizer-bar .note {
  text-align: center;
  font-size: 1.1em;
  margin-top: 5vh;
}

#themizer-bar .note a { color: #5dc350; }

#themizer-inner-wrap { margin-left: 12.5%; list-style: none; }

#left-wrap {
  position: absolute;
  left: 0;
  top: 7vh;
  width: 50%;
  box-sizing: border-box;
  padding-left: 8vw;
}

#left-wrap .heading { width: 7em; }

#right-wrap {
  position: absolute;
  right: -5em;
  width: 50%;
}

#right-wrap img {
  height: 50vh;
  width: 89vh; /* img { height: inherit; width: inherit; } */
  /* sigh, IE */
  max-height: 50vh;
  max-width: 89vh;
}

#content h1 { border-bottom: 1px solid #bbb; }

#features { height: 60vh; }
