/* Themizer CSS */

@import url('fonts.css');
.themizer { background: #51b835; }

/*--LAYOUT--*/
#sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  background: #101010;
  color: white;
  font-family: Amble, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  text-rendering: optimizeLegibility;
}

#sidebar-inner {
  position: relative;
  width: 35vh;
  height: 100%;
  background: #101010;
}

/*--GENERAL--*/

#sidebar input,
#sidebar select,
#sidebar option {
  background-color: #212121;
  border: none;
}

/*--TYPESETTING--*/
#sideheadbar {
  display: block;
  height: 10vh;
  line-height: 10vh;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.7em;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
#sideheadbar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2vh;
  height: 10vh;
  background: #57c639;
  pointer-events: none;
  z-index: 100;
}
.opened #sideheadbar::after {
  right: -2vh;
}
.closed #sideheadbar::after {
  left: 0;
}

/*--RESIZER--*/
#side-resizer {
  position: absolute;
  top: 0;
  right: -5vh;
  width: 3vh;
  height: 100vh;
  cursor: e-resize;
  pointer-events: all;
  /* Prevent accidental selection of content in sidebar (occurs in WebKit/Blink) */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.closed #side-resizer {
  pointer-events: none;
}

/*--SLIDE BUTTONS--*/
.slideButton {
  position: absolute;
  cursor: pointer;
}

#side-button {
  width: 2vh;
  height: 100%;
  top: 0;
  background: #212121;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.closed #side-button {
  height: 5vh;
  top: 47.5vh;
  border-radius: 0 4px 4px 0;
  background: #101010;
}

/**
 * ugly pseudo-element hack for increased usability
 * should probably change later
 * in conjunction with planned mousemove() event
 */
.closed #side-button::after {
  content: "";
  position: absolute;
  top: -47.5vh;
  height: 100vh;
  width: 2vh;
}
#side-button.targeted {
  top: 0;
  height: 100vh;
  width: 4vh;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*--OPTION SLIDES--*/
.options {
  margin: 20px 10px 0;
  border: 3px solid #5c5c5c
}

.option {}
.option-wrap {
  padding: 10px 14px;
  margin: 0;
}
.option-title {
  display: block;
  padding: 0.2em 0.5em;
  background: #5c5c5c;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.option-title h5 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-weight: 400;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.5em;
}

/**
 * Collapse option button styling
 */

.collapsebutton {
  position: relative;
  float: right;
}
.collapsebutton::before,
.collapsebutton::after {
  content: "";
  position: absolute;
  top: 1em;
  right: 0.9em;
  width: 0.5em;
  height: 0.2em;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.collapsebutton::after {
  right: 0.5em;
}
.expanded .collapsebutton::before,
.collapsed .collapsebutton::after {
  -webkit-transform: skewY(20deg);
  transform: skewY(20deg);
}
.expanded .collapsebutton::after,
.collapsed .collapsebutton::before {
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
}

/*--INPUTS--*/
.radio,
.checkbox {
  display: inline-block;
  height: 13px;
  margin-left: 5px;
}

/*--MISCELLANEOUS CLASSES--*/
#sidebar p {
  margin-bottom: 0.6rem;
}
#sidebar i,
#sidebar .i {
  font-family: AmbleItalic, sans-serif;
}
#sidebar code {
  font-family: Monaco, "Courier New", Courier, monospace;
}
#sidebar .small {
  font-size: 0.65em;
}
#sidebar .clear {
  clear: both;
}
#sidebar .inline {
  display: inline;
}
