@charset "utf-8";
/* CSS Document */

#tryit-header{
	width: 100%;
	height: 10vh;
	background-color: #ff6d00;
}
.tryit-title{
	margin-left: 5vh;
	line-height: 10vh;
	vertical-align: center;
	color: white;
	font-size: 2.5em;
}
#tryit-blog{
	height: 80vh;
}