/*
Everything Dojo CSS
(c)2014 Everything Dojo (original skin by Red)
Please do not plagiarize
*/


/*--FONT IMPORT--*/
@import url('fonts.css');

/*--BUTTONS--*/
/* Based heavily on Quizlet buttons, thank you! */
.tryit-button {
  display: block;
  background: #85B900;
  border: none;
  border-radius: 0.17em;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0.7rem;
  height: 2em;
  margin: 0.42em 0;
  padding: 0 0.6rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  width: auto;
}

.tryit-button:hover {
  background: #739F02;
  box-shadow: 0 0 0.36rem rgba(0, 0, 0, 0.3) inset;
}

/*--COLORS--*/
.tryit    { background: #ff6c00; }

/**
 * TYPESETTING
 *
 * The highly specific selectors and `!important`s are to reset any
 * styling that may have been applied by blog styles
 */

html > body > #wrap > header > #headerwrap > h1,
html > body > #wrap > header > #headerwrap > h1 > a,
html > body > #wrap > header > #headerwrap > h1 > a:active,
html > body > #wrap > header > #headerwrap > form > a,
html > body > #wrap > header > #headerwrap > form > a:active {
  position: static !important;
  display: inline-block !important;
  background: none !important;
  color: white !important;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
  font-size: inherit !important;
  font-weight: 400 !important;
  line-height: inherit !important;
  text-align: left !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
}
html > body > #wrap > header > #headerwrap > h1 {
  position: absolute !important;
  padding: 0.1em 0 !important;
  margin: 0.17em !important;
  height: 1.334em !important;
}
html > body > #wrap > header > #headerwrap > form > a,
html > body > #wrap > header > #headerwrap > form > a:active {
  color: black !important;
  font-family: Amble, sans-serif !important;
  font-size: 15px !important;
  text-transform: none !important;
}

.small { font-size: 0.65em; }


body { background: white; }

/*--HEADER AND NAV--*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 2.22vh;
  z-index: 2147483647; /* CSS values are stored as 32-bit signed integers, hence this number */
}

#headerwrap {
  margin-left: 5.55%;
  position: relative;
  width: 90%;
  height: 11.6vh;
  font-size: 2.82em;
  line-height: 1.4em;
  text-align: left;
}
