@charset "utf-8";
/* CSS Document */

/* General */
@font-face {
    font-family: 'lato';
    src: url('lato-lig-webfont.eot');
    src: url('lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-lig-webfont.woff') format('woff'),
         url('lato-lig-webfont.ttf') format('truetype'),
         url('lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	font-family: "Lato", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
}
div.clear-40{
	clear: both;
	height: 40px;
}

/* Login bar */
div#login-bar{
	text-align: right;
	color: #9f9f9f;
	height: 80px;
	width: 100%;
}
div#login-bar-inner{
	margin-top: 10px;
	margin-right: 30px;
}

/* Index items */
div#index-content{
	min-height: 100%;
	width: 100%;
	margin-bottom: -70px;
}
div#index-content:after{
	content: "";
	display: block;
}
div#index-content-inner{
	width: 640px;
	height: 740px;
	margin-left: auto;
	margin-right: auto;
}
div.index-item{
	height: 350px;
	width: 300px;
}
div#index-database{
	background-color: #d553cb;
	float: left;
}
div#index-themizer{
	background-color: #51b835;
	float: right;
}
div#index-tryit{
	background-color: #ff6c00;
	float: left;
}
img.index-img{
	margin-top: 80px;
	margin-left: 15px;
}
div#index-discuss{
	background-color: #509aff;
	float: right;
}
div#index-footer, div#index-content:after{
	text-align: center;
	height: 70px;
	line-height: 70px;
	vertical-align: center;
	width: 100%;
}

/* Links */
a.index-item{
	border: 0;
	outline: none;
}